body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	margin: 0;
}

nav {
	background-color: black;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}

nav a.nav-links {
	flex-direction: row;
	color: white;
	text-align: center;
	padding: 1em;
	text-decoration: none;
	font-size: 1em;
}

#nav-link-container {
	display: flex;
}

nav a.social-links {
	float: right;
}

nav a:hover {
	background-color: rgb(218, 218, 218);
	color: black;
}

nav a.current {
	background-color: cornflowerblue;
	color: black;
}

.social-link-img {
	width: 2em;
	padding: 0.5em;
}

.absolute-center {
	margin: 0;
	position: absolute;
	top: 60%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#header-text {
	font-size: 4rem;
	text-align: center;
	margin: 2.7% 0% 0% 0%;
}

.gallery-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 1vw;
}

.gallery-element {
	width: 20vw;
	display: flex;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 12px;
}

.gallery-element img {
	width: 20vw;
	height: 20vw;
	object-fit: cover;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.description {
	text-align: center;
	margin: 0.5vw;
}

@media screen and (max-width: 600px) {
	.social-link-img {
		display: none;
	}
	#nav-link-container {
		flex-direction: column;
	}
	nav {
		justify-content: center;
	}
	nav a.nav-links {
		width: 100vw;
	}
}
